<!--
作業流程:
1. 鋪結構
2. 基本 CSS
3. 微調距離

完成時間: 02:26:40 (休息時間暫停)

設計稿: https://www.figma.com/file/7t6ft6HEHeWkpFs7OQrdKp/2023-%E5%88%87%E7%89%88%E5%A4%8F%E5%AD%A3%E7%8F%AD-W2---%E5%80%8B%E4%BA%BA%E7%B6%B2%E9%A0%81?type=design&node-id=0%3A1&t=XrFwLsarZRxSnMSG-1
-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第二週 - 個人網站</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="introduction">
      <div class="container d-flex flex-row-reverse justify-content-between">
          <div class="w-746 d-flex">
              <img class="mr-24" src="../assets/images/sparkle.png" alt="sparkle">
              <img class="mr-24" src="../assets/images/photographer.png" alt="photographer">
              <img class="mr-24" src="../assets/images/people-2.png" alt="people">
          </div>

          <div class="w-526 introduction-body">
              <h3>Introduction</h3>
              <p>Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive
                  websites
                  that provide an optimal user experience.</p>

              <div class="d-flex">
                  <img class="mr-16" src="../assets/images/sparkle-sm.png" alt="sparkle-sm">
                  <img class="mr-16" src="../assets/images/sparkle-sm.png" alt="sparkle-sm">
                  <img class="mr-16" src="../assets/images/sparkle-sm.png" alt="sparkle-sm">
              </div>
          </div>
      </div>
  </div>
  <div class="about">
      <div class="container d-flex justify-content-between align-items-center">
          <div class="about-card">
              <ul>
                  <li>
                      <h4>01<br />Attention to Detail</h4>
                      <p>Meticulous code analysis and optimization.</p>
                  </li>
                  <li>
                      <h4>02<br />Adaptability</h4>
                      <p>Swift learning of new technologies.</p>
                  </li>
                  <li>
                      <h4>03<br />Problem Solver</h4>
                      <p>Identifying and resolving issues.</p>
                  </li>
                  <li>
                      <h4>04<br />Team Player</h4>
                      <p>Collaborates and shares ideas.</p>
                  </li>
              </ul>
          </div>
          <div class="about-body">
              <h3>About Me</h3>
              <p>
                  With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have
                  a
                  strong
                  understanding of user experience design and accessibility. I'm always learning new technologies and
                  techniques to stay up-to-date in the field.
              </p>
          </div>

      </div>
  </div>
  <div class="contact">
      <div class="container d-flex justify-content-between align-items-center">
          <div class="w-657 d-flex justify-content-between align-items-center">
              <h3 class="">CONTACT ME</h3>
              <svg width="80" height="34" viewBox="0 0 80 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M79.6667 17L63 0.333374V12.8334H0.5V21.1667H63V33.6667L79.6667 17Z" fill="white" />
              </svg>
          </div>
          <ul class="social d-flex">
              <li class="mr-20"><a href="#"><img src="../assets/images/discord.png" alt="discord"></a></li>
              <li class="mr-20"><a href="#"><img src="../assets/images/instagram.png" alt="instagram"></a></li>
              <li class=""><a href="#"><img src="../assets/images/message.png" alt="message"></a></li>
          </ul>
      </div>
  </div>

  <div class="project">
      <div class="container">
          <div class="">
              <h3 class="ml-auto mb-16 col-7">My Projects</h3>
              <div class="d-flex justify-content-between">
                  <div class="col-4 mr-24">
                      <img src="../assets/images/Rectangle 10.png" width="416" alt="Rectangle 10.png">
                  </div>
                  <div class="col-8">
                      <div class="d-flex mb-28">
                          <img src="../assets/images/Rectangle 15.png" width="196" alt="Rectangle 15.png">
                          <div class="d-flex flex-column align-content-around ml-24">
                              <p class="mb-76">I've worked on a variety of websites, including e-commerce sites,
                                  blogs, and landing pages. I take pride in creating clean, efficient, and
                                  user-friendly code.</p>
                              <a class="seemore-btn" href="#">SEE MORE<svg width="24" height="24" viewBox="0 0 24 24"
                                      fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <mask id="mask0_47_18" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                          y="0" width="24" height="24">
                                          <rect width="24" height="24" fill="#D9D9D9" />
                                      </mask>
                                      <g mask="url(#mask0_47_18)">
                                          <path d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z" fill="white" />
                                      </g>
                                  </svg>
                              </a>
                          </div>
                      </div>
                      <div class="d-flex justify-content-between">
                          <div class="col-3"><img src="../assets/images/Rectangle 14.png" alt="Rectangle 14.png"></div>
                          <div class="col-5"><img src="../assets/images/Rectangle 29.png" alt="Rectangle 29.png"></div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
